/*.zip
.DS_Store
**/.DS_Store
/*.idea
/*.vscode
/*.env
/vendor/
/node_modules/
/.sass-cache/
/.cache/npm/
/bower_components/
/.grunt/
/.tmp/
/.nyc_output/
/coverage/
/.history/
/.vagrant/
/.env.local
.env.*.local
/.phpunit.result.cache