@keyframes snowfall {
    0% {
        transform: translateY(-10vh) translateX(0)
    }

    25% {
        transform: translateY(-5vh) translateX(5px)
    }

    50% {
        transform: translateY(0) translateX(-5px)
    }

    75% {
        transform: translateY(5vh) translateX(5px)
    }

    to {
        transform: translateY(10vh) translateX(0)
    }
}

@keyframes snowfall-deep {
    0% {
        transform: translateY(-15vh) translateX(0)
    }

    50% {
        transform: translateY(0) translateX(10px)
    }

    to {
        transform: translateY(15vh) translateX(0)
    }
}

.snowfall {
    position: relative;
    background: linear-gradient(135deg,#095174,#009595);
    transform: translateY(100%);
    transition: transform .5s cubic-bezier(.4,0,.2,1);
    box-shadow: 0 -10px 25px -5px rgba(0,149,149,.2)
}

.snowfall:after,.snowfall:before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle at center,hsla(0,0%,100%,.8) .5px,transparent 1px),radial-gradient(circle at center,hsla(0,0%,100%,.6) 1px,transparent 1.5px),radial-gradient(circle at center,hsla(0,0%,100%,.4) 1.5px,transparent 2px);
    background-size: 100px 100px,150px 150px,200px 200px;
    animation: snowfall 15s linear infinite;
    pointer-events: none
}

.snowfall:after {
    background-image: radial-gradient(circle at center,hsla(0,0%,100%,.8) 1px,transparent 1.5px),radial-gradient(circle at center,hsla(0,0%,100%,.6) 1.5px,transparent 2px),radial-gradient(circle at center,hsla(0,0%,100%,.4) 2px,transparent 2.5px);
    background-size: 120px 120px,170px 170px,220px 220px;
    animation: snowfall-deep 12s linear infinite;
    animation-delay: -7s
}

.snowfall.snowfall-show {
    transform: translateY(0)
}

.domain-name, .domain-name::placeholder, .form-control:focus{
    color: #222222;
    opacity: 1;
}
.logo {
    --logo-height: 56px;
    height: var(--logo-height);
    display: flex;
    flex-shrink: 0;
}
@media (min-width: 1400px) {
    .hero-6 {
        padding-top: 100px;
    }
}
@media (max-width: 991px){
    .logo {
        --logo-height: 42px;
        height: var(--logo-height);
        display: flex;
        flex-shrink: 0;
    }
    .py-5 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}
.bg-gradient-primary {
    background: -webkit-gradient(linear, right top, left top, from(rgb(96.9879518072, 64.0963855422, 145.9036144578)), to(rgb(35.6334661355, 67.1235059761, 172.3665338645)));
    background: linear-gradient(to left, rgb(96.9879518072, 64.0963855422, 145.9036144578) 0%, rgb(35.6334661355, 67.1235059761, 172.3665338645) 100%);
}
.bg-gradient-success {
    background: -webkit-gradient(linear, right top, left top, from(rgb(34, 197, 94)), to(rgb(16, 185, 129)));
    background: linear-gradient(to left, rgb(34, 197, 94) 0%, rgb(16, 185, 129) 100%);
}
.position-relative {
    position: relative !important;
}
.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -2px;
    left: 0;
    z-index: 99;
}
.domain-search-container{
    border-color: rgb(151, 170, 233.5);
    -webkit-box-shadow: 0 0 0 .50rem rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 .50rem rgba(255, 255, 255, 0.25);
    border-radius: 6px;
}
.navbar-overlay {
    position: fixed;
    top: 20px;
    left: 1%;
    z-index: 98;
    width: 98%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.menu-box {
    background: linear-gradient(-45deg, #8eb9ff, #fc8cb7, #8be0ff, #88f9de);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    backdrop-filter: blur(25px);            
    -webkit-backdrop-filter: blur(25px);    
    border: 1px solid rgba(255, 255, 255, 0.6); 
    border-radius: 16px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.glass-box {
    background: rgba(255, 255, 255, 0.50);  
    backdrop-filter: blur(25px);            
    -webkit-backdrop-filter: blur(25px);    
    border: 1px solid rgba(255, 255, 255, 0.6); 
    border-radius: 16px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* .navbar-sticky-init .navbar-overlay{
    background: linear-gradient(-45deg, #8eb9ff, #fc8cb7, #8be0ff, #88f9de);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-color: #fcfdfe !important;
    background: linear-gradient(
        to right,
        rgba(88, 149, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.80) 50%,
        rgba(86, 151, 255, 0.8) 100% 
    );
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.6); 
    border-radius: 16px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} */

.blob {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: multiply;
  filter: blur(80px);
  opacity: 0.3;
  animation: pulse 6s infinite alternate ease-in-out;
}
.card-heading{
    font-size: 26px !important;
    margin-bottom: 20px;
    font-weight: 700;
}
.btn-clear{
    width:40px; 
    height:40px; 
    padding:0; 
    align-items:center; 
    justify-content:center;
}
.mt-60{
    margin-top: 60px;
}
.contain-sub-1.no-icon .nav-link::after {
    content: "ï„‡";
    display: none !important;
    font-family: "Line Awesome Free";
    font-weight: 900;
    font-size: .75rem;
    line-height: 1;
    font-variant: normal;
    text-rendering: auto;
    color: inherit;
}
.contain-sub-1.no-icon .contain-sub-1__content{
    left: auto;
    right: 0px;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.cartCount{
    background: linear-gradient(90.12deg, #E90387 -29.31%, #FC6866 100.59%);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.mobile-actions .cartCount{
    top: -10px;
    right: -10px;
}
.navbar-nav .nav-item .nav-link.btn-cart{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.nav-link.btn-cart i{
    font-size: 20px;
}
small{
    font-size: 12px !important;
}
p.sub-title{
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: 400;
}
h6.hanger{
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: #1f1f1f;
    font-weight: 500;
}
.bigger{
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    font-weight: 500;
}

.bigger small{
    display: block;
}
.currency-form select{
    padding: .625rem .625rem .625rem 0.625rem;
    background: none;
    font-weight:bold
}

.package-title {
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.75rem;
    font-weight: 500;
    color: var(--gm3-sys-color-on-surface, #1f1f1f);
}
.tagline{
    color: #444746;
    padding-block: .25rem;
    -webkit-padding-start: .75rem;
    padding-inline-start: .75rem;
    -webkit-border-start: 2px solid var(--gm3-sys-color-primary, #0b57d0);
    border-inline-start: 2px solid var(--gm3-sys-color-primary, #0b57d0);
    line-height: 1.5rem;
    font-size: 1rem;
}

.bg-gradient-primary {
  background: -webkit-gradient(linear, right top, left top, from(rgb(96.9879518072, 64.0963855422, 145.9036144578)), to(rgb(35.6334661355, 67.1235059761, 172.3665338645)));
  background: linear-gradient(to left, rgb(96.9879518072, 64.0963855422, 145.9036144578) 0%, rgb(35.6334661355, 67.1235059761, 172.3665338645) 100%);
}

.bg-gradient-success {
  background: -webkit-gradient(linear, right top, left top, from(rgb(34, 197, 94)), to(rgb(16, 185, 129)));
  background: linear-gradient(to left, rgb(34, 197, 94) 0%, rgb(16, 185, 129) 100%);
}

.timeline-slider-nav__next, .timeline-slider-nav__prev{
    margin-top: -3px;
    background-color: #ffffff;
}

@media (min-width: 576px) {
    .text-sm-end {
        text-align: right !important;
    }
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
}
.avatar.avatar-ex-sm {
    max-height: 25px !important;
}

.payment_card {
    margin: 3px;
    padding: 1px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom right, #ffffff, #dadada);
}

.monthly-price h4 span,
.yearly-price h4 span{
    font-size: 18px;
    color: #666666;
}
.why-area-one::after{
    background-image: none !important;
}
.video-area-one::after{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-custom-5-rgb), var(--bs-bg-opacity)) !important;
}

.mobile-actions select {
    width: 38px;
    padding: 7px 4px;
    margin-right: 5px;
}
.mobile-actions .btn-cart i {
    font-size: 20px;
}
.currency-mobile{
    border: 1px solid rgb(106, 96, 125, 0.5);
}